html{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body{
  background-color: cyan;
  color: black;
  font-size: 200%;
}

.flex-parent{
  height: 300vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.flex-child{
  height: 50vh;
  background-color: lightpink;
  margin: 10px;
  width: 99%;
  flex-direction: row;
}

#block1{
  height: 100vh;
  background-color: #558B2F;
  color: white;
}

img{
  display: flex; 
  align-content: right;
}

#block2{
  height: 35vh;
  background-color: #212121;
  color: white;
}

#block3{
  height: 30vh;
}

#block4{
  background-color: #4FC3F7;
}

#block5{
  background-color: #FFFF8D;
}